@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sunrise-progress-green: rgba(34, 197, 94, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Glass Antiqua';
  src: url('/fonts/GlassAntiqua-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
}

.flex-column {
  @apply flex flex-col items-center;
}
.progress-number {
  @apply font-bold text-sunrise-progress-green;
}
.category-icon {
  @apply flex items-center justify-center text-3xl;
}
.header-link {
  @apply rounded-md px-4 py-2 text-center text-stone-800 transition duration-300 hover:bg-amber-600 focus:bg-amber-600 active:bg-amber-600;
}
.link {
  @apply bg-amber-600;
}
.special-border {
  border-radius: 5% 5% 29% / 5% 14% 44%;
}

.custom-shape-divider-top {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-top {
  position: relative;
  display: block;
  width: calc(209% + 1.3px);
  height: 700px;
}
.divider-bottom {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 270px;
  transform: rotatex(180deg);
}

.shape-fill {
  fill: #ffffff8d;
}

.react-datepicker {
  font-family: inherit !important;
  border: none !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.react-datepicker__day-name {
  font-family: monospace;
  font-weight: 600;
}
.react-datepicker__header {
  background-color: white !important;
  border-bottom: none !important;
}
.react-datepicker__day--in-range {
  background-color: rgb(217 119 6) !important;
  border-radius: 50% !important;
}
